body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#root {
    /* margin: 0;
    padding: 0; */
    position: absolute;
    background-image: url("https://wallpaperaccess.com/full/2714119.png");
    /* background-color: #cccccc; */
    /* background-repeat: no-repeat; */
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow-y:scroll;
    /* Additional properties for customization */
    background-attachment: fixed;
}

#app {
    height: 100%;
    width: 100%;
}


#button {
    position: absolute !important;
    height: 10%;
    width: 50%;
    top: 40%;
    display: flex;
    left: 25%;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 0 10px;
    color: white;
    text-shadow: 2px 2px rgb(116, 116, 116);
    text-transform: uppercase;
    border: solid 2px black;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 17px;
    background-color: hsl(49deg 98% 60%);
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    transition: all .5s ease;
}

#button:active {
    transform: scale(2);
    transition: all 100ms ease;
}

#button svg {
    transition: all .5s ease;
    z-index: 2;
}

.play {
    transition: all .5s ease;
    transition-delay: 300ms;
}

#button:hover svg {
    transform: scale(3) translate(80%);
}

.now {
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    transition: all .5s ease;
    z-index: 2;
}

#button:hover .now {
    transform: translateX(80px);
    transition-delay: 300ms;
}

#button:hover .play {
    transform: translateX(200%);
    transition-delay: 300ms;
}


.cta {
    
    position: relative;
    display: inline-block;
    top: 5%;
    padding: 11px 33px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: white;
    background: #6225E6;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
    border: none;
    margin: 0.5%;
}

.cta:focus {
    outline: none;
}

.cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #FBC638;
}

.cta .second {
    transition: 0.5s;
    margin-right: 0px;
}

.cta:hover .second {
    transition: 0.5s;
    margin-right: 45px;
}

.span {
    transform: skewX(15deg)
}

.second {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 2%;
}

.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.cta:hover .three {
    animation: color_anim 1s infinite 0.2s;
}

.cta:hover .one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.cta:hover .two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

@keyframes color_anim {
    0% {
        fill: white;
    }

    50% {
        fill: #FBC638;
    }

    100% {
        fill: white;
    }
}

#pokemon{
    position: absolute;
    display: block;
    height: 300px;
    width: 300px;
    /* top:5%; */
    margin-top: 20px;
    left: 8%;
    z-index: 2;
}

#pokemonEnemy {
    position: absolute;
    display: block;
    height: 400px;
    width: 400px;
    top:50%;
    left: 70% !important;
    margin-top: 20px;
    z-index: 2;
}

#pokeDiv{
    width: 600px;
    height: 500px;
}

#location {
    z-index: 2;
    /* top:3%; */
    /* left: 32%; */
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgb(61, 106, 255);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.arenaLocation{
    top: 0%;
    left:0%;
}
.battleButt{
    position: relative;
    top: 1%;
    left:40%;
}

#location:hover {
    background: rgb(61, 106, 255);
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

#location:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
}

#location::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

@keyframes sh02 {
    from {
        opacity: 0;
        left: 0%;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
        left: 100%;
    }
}

#location:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}

#battle {
    top:0%;
    left:0%;
    position: absolute;
    background-image: url("https://cdn.discordapp.com/attachments/1080482388221640805/1111033442520530994/d843okx-eb13e8e4-0fa4-4fa9-968a-e0f36ff168de.png");
    background-size: cover;
    height: 100%;
    /* z-index: 1; */
    width: 100%;
}

